.nav {
    display: flex;
    align-items: center;
    background-color: #21222a;
    box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}
.nav-items {
    list-style: none;
    display: flex;
    color: #deebf8;
}
.nav-items > li {
    padding: 10px;
}
.main-ul > li::marker {
    color: #61dafb;
}
.nav-logo {
    width: 120px;
}
nav>img{
    margin-right: 7px;
    
}
.nav-logoname {
    margin-right: auto;
    color: #61dafb;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
}
main {
    color: white;

}
body{
    background-color: #282d35;
}
.find{
    height: 30px;
    
}